.LogoSearch{
    display: flex;
    gap:0.75rem ;
}

.Search{
    display: flex;
    background-color: rgba(40, 52, 62, 0.07);
    border-radius: 10px;
    padding: 5px;
}
.Search >input{
    /* padding-left: 3px; */
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
}
.s-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #fca61f;
    padding: 4px;
    color: white;
    cursor: pointer;
}