.FollowersCard{
    width: 100%;
    border-radius: 0.7rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.follower>div{

    display: flex;
    gap: 10px;
}
.followerImg{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}
.follower>div >.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;

}
.follower>div >.name>span:nth-of-type(1){
        font-weight: bold;
}
.follower>div >.name>span:nth-of-type(2){
    color: rgb(63, 63, 63);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: transparent;
    outline: none;
    border-radius: 0.5rem;
    background:linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
    transition: all 100ms ease;
    height: 2rem;
    padding: 20px;
    text-align: center;
   
}
.button:hover{
    cursor: pointer;
    border: 2px solid #f95f35;
    background:linear-gradient(4deg, #f9a225 0%, #fff 100%);
    color: black;
    
}
