.ProfileAddress{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 1rem;
}
.info-section{
    font-size: 0.7rem;
    font-size: bold;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;

}
.more-info div{
    padding: 0.2rem 0rem;
}
.more-info div span{
    font-weight: bold;
    
}
.logout{
    margin-top: 5.5rem;
    height: fit-content;
    height: 41px;

}
.logout button{
    
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: transparent;
    outline: none;
    border-radius: 0.5rem;
    background:linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
    transition: all 100ms ease;
    height: 2rem;
    padding: 20px 27px;
    text-align: center;
}


